  <!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
		<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
			<!-- Add icons to the links using the .nav-icon class
	with font-awesome or any other icon font library -->
			<li class="nav-item">
				<a href="/admin/Category" class="nav-link">
					<i class="nav-icon fas fa-th"></i>
					<p>
						Danh mục
					</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/admin/account" class="nav-link">
					<i class="nav-icon fas fa-user"></i>
					<p>
						Tài khoản
						@*<span class="right badge badge-danger">New</span>*@
					</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/admin/role" class="nav-link">
					<i class="nav-icon fas fa-users"></i> 
					<p>
						Role
					</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="#" class="nav-link">
					<i class="nav-icon fas fa-ticket-alt"></i>
					<p>
						Quản lý chuyến đi
						<i class="right fas fa-angle-left"></i>
					</p>
				</a>
				<ul class="nav nav-treeview">
					<li class="nav-item">
						<a href="/admin/productcategory" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>Danh mục chuyến đi</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/admin/products" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>Chuyến đi</p>
						</a>
					</li>

				</ul>
			</li>

			<li class="nav-item">
				<a href="/admin/posts" class="nav-link">
					<i class="nav-icon fas fa-comment"></i>
					<p>
						Bài viết
						@*<span class="right badge badge-danger">New</span>*@
					</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/admin/order" class="nav-link">
					<i class="nav-icon fas fa-bookmark"></i>
					<p>
						Chuyến đi đã đặt
						@*<span class="right badge badge-danger">New</span>*@
					</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/admin/statistical" class="nav-link">
					<i class="nav-icon fas fa-signal"></i>
					<p>
						Thống kê
					</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="javascript:document.getElementById('logOffForm').submit()" class="nav-link">
					<i class="nav-icon fas fa-sign-out-alt"></i>
					<p>
						Đăng xuất
						@*<span class="right badge badge-danger">New</span>*@
					</p>
				</a>
			</li>
		</ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->

@if (Request.IsAuthenticated)
{
<div style="display:none">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
    {
@Html.AntiForgeryToken()}
</div>}